<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Evitar redireccio pels fitxers existents
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir totes les peticions HTML i PHP a /index.php
    RewriteRule \.(html|php)$ /index.php [L]

    # Redirigir totes les peticions a /index.php
    RewriteRule ^ index.php [L]

</IfModule>
